[*.cs]

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = none

# CS0649: Field 'Home._elements' is never assigned to, and will always have its default value null
dotnet_diagnostic.CS0649.severity = silent
